@import "./src/colors.scss";
@import "./src/mixin";

.startWindow {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 432px;
  width: 100%;
  margin-top: 30px;

  .title {
    text-align: center;
    font-size: 4rem;
    color: $title;
    @include mobile-480 {
      font-size: 3rem;
    }
  }

  form {
    max-width: 432px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 50px;

    label {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 20px;
      font-weight: 700;
      font-size: large;
      color: $label;
      @include mobile-480 {
        flex-direction: column;
        align-items: center;
      }

      input {
        box-shadow: $input-shadow;
        width: 100px;
        border-radius: 4px;
        border: 0;
        text-align: center;
        @include mobile-480 {
          margin-top: 20px;
        }

      }
    }

    button {
      color: $btn-text;
      background-color: $btn-back;
      box-shadow: $btn-shadow;
      padding: 10px 20px;
      border-radius: 4px;
      border: 0;
      font-weight: 700;
      margin-top: 30px;
    }

  }
}
