:root {

  //     first window -- Start component
  --start-back: rgba(51, 131, 118, 0.33);
  --tittle: #f8ff3e;
  --input-shadow: 0 3px 8px 5px rgb(0, 0, 0, 27%);
  --btn-text: #fc2c2c;
  --btn-shadow: 0 3px 8px 5px rgb(0, 0, 0, 27%);
  --btn-back: #72f6eb;
  --label: #fff;
}
