//     first window -- Start component
$start-back: rgba(51, 131, 118, 0.33);
$title: #f8ff3e;
$input-shadow: 0 3px 8px 5px rgb(0, 0, 0, 27%);
$btn-text: #fc2c2c;
$btn-shadow: 0 3px 8px 5px rgb(0, 0, 0, 27%);
$btn-back: #72f6eb;
$label: #fff;

// Table component

$table-back: #fff;
$add-row__btn: #efef39;
$add-row__btn-text: #1bbaff;
$tdBody-back: #60f5fa;
$tdBodySum-back: #56fc7c;
$avgDigit: #fff;
$tableSum: #fff;
